@media (min-width: 768px) {
    section {
        padding: 50px 0;
    }
}

section h3.section-subheading {
    margin-bottom: 25px;
}

#ProfileImagePreview {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 36px;
        text-transform: none;
    }
}

.post-preview > .post-meta {
    color: gray;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.post-preview > p {
    line-height: 1.5;
    margin: 30px 0;
}

.post-preview > .post-subtitle {
    font-size:20px;
    font-weight: lighter;
    text-transform: none;
}
