@model Blog

<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Update">

                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control" type="text" asp-for="Title" />
                    </div>

                    <div class="form-group">
                        <label>Body:</label>
                        <textarea class="form-control" asp-for="Body"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Post After Date:</label>
                        <div class='input-group date' id='PostAfterDatePicker'>
                            <input class="form-control" type="text" asp-for="PostDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <div id="success"></div>
                            <a id="btnDelete" asp-action="Delete" asp-route-Name="@Model.Id" class="btn btn-xl">Delete</a>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div id="success"></div>
                            <input type="submit" value="Submit" class="btn btn-xl" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> 